<link rel="stylesheet" href="/css/partials/streak-modal.css">

<div class="streak-backdrop">
  <div class="streak-modal">

    <header>
      <h2 style="color: #ffb347">🔥 <%= streakLength %> dana u nizu!</h2>
      <p>Danas ste zaradili <strong style="color: #ff7a18">
          <%= todayBonus %> bodova
        </strong>.</p>
      <p>Sljedeći bonus bodovi za <strong style="color: #5725ee">
          <%= daysToNextBonus %> dana
        </strong>.</p>
      <button class="close-btn" onclick="closeStreak()">×</button>
    </header>


    <div id="calendar"></div>

  </div>
</div>

<script>
  window.streakData = {
    activeDates: <% - JSON.stringify(activeDates) %>,
    today: "<%= today.toISOString() %>",
    daysToNextBonus: <%= daysToNextBonus %>
    };
</script>
<script src="/js/partials/streak-modal.js"></script>