<!DOCTYPE html>
<html lang="en">
<head>
    <title>Popis soba</title>
    <link rel="stylesheet" href="/rooms/rooms.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Popis soba</h1>

    <div class="grid-container">
        <% rooms.forEach(room => { %>
            <a href="/rooms/<%= room._id %>" class="room-box">
                <h2><%= room.name %></h2>
                <ul>
                    <li><strong>Tip sobe:</strong> <%= room.type %></li>
                    <li><strong>Kategorije:</strong>
                        <% room.categories.forEach(cat => { %>
                            <span class="category"><%= cat %></span>
                        <% }); %>
                    </li>
                </ul>
            </a>
        <% }); %>
    </div>
</body>
</html>