<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= room.name %></title>
  <link rel="stylesheet" href="/css/rooms/room.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/rooms/room.js" defer></script>
</head>
<body data-room-id="<%= room._id %>" data-username="<%= user.name %>">
  <%- include('../partials/header') %>
  
  <header><%= room.name %></header>
  <button class="drawer-toggle" id="drawer-toggle">❌</button>

  <div class="chat-container">
    <div class="chat-main">
      <ul id="messages"></ul>
      <form id="chat-form">
        <input id="message-input" autocomplete="off" placeholder="Unesi poruku..." />
        <button type="submit">Pošalji</button>
      </form>
    </div>
    <div class="user-drawer" id="drawer">
      <h3>Korisnici u sobi:</h3>
      <div id="user-list"></div>
      <div class="switch-container">
        <input type="checkbox" id="focus-mode-switch" class="switch-input">
        <label for="focus-mode-switch" class="switch-toggle"></label>
        <span class="focus-text">Focus Mode</span>
      </div>
    </div>
  </div>
  <%- include('../partials/levelup-modal') %>
</body>
</html>
