<!DOCTYPE html>
<html lang="en">

<head>
    <title>Popis prijava</title>
    <link rel="stylesheet" href="/css/admin/reports.css">
</head>

<body>
    <%- include('../../partials/header') %>
        <%- include('../../partials/messaging') %>

            <h1>Popis prijava</h1>

            <div class="grid-container">
                <% if (reports.length==0) { %>
                    <p class="no-reports">Nema prijavljenih poruka!</p>
                    <% } %>
                        <% reports.forEach(report=> { %>
                            <% const reportedName=report.reportedUsername; const authorName=report.authorUsername; const
                                dateOptions={ year: 'numeric' , month: 'short' , day: 'numeric' , hour: '2-digit' ,
                                minute: '2-digit' }; const formattedDate=new
                                Date(report.createdAt).toLocaleDateString('hr-HR', dateOptions); const
                                status=report.status || 'pending' ; const statusClass='status-' + status; %>

                                <a href="/admin/reports/<%= report._id %>" class="report-box <%= status %>">
                                    <div class="reported-user">
                                        <span>Prijavljen: <strong>
                                                <%= reportedName %>
                                            </strong></span>
                                        <div>
                                            <% if (report.reportType==='comment' ) { %>
                                                <span
                                                    class="status-badge status-comment badge-margin-right">Komentar</span>
                                                <% } else if (report.reportType==='chat' ) { %>
                                                    <span
                                                        class="status-badge status-chat badge-margin-right">Poruka</span>
                                                    <% } %>
                                                        <span class="status-badge <%= statusClass %>">
                                                            <%= status %>
                                                        </span>
                                        </div>
                                    </div>

                                    <div class="message-preview">
                                        Razlog: <%= report.reason %>
                                    </div>

                                    <div class="message-detail">
                                        Poruka: "<%= report.reportedMessage %>"
                                    </div>

                                    <div class="report-meta">
                                        <span>Prijavio: <strong>
                                                <%= authorName %>
                                            </strong></span>
                                        <span>
                                            <%= formattedDate %>
                                        </span>
                                    </div>
                                </a>
                                <% }); %>

            </div>
</body>

</html>