<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= user.name %></title>
  <link rel="stylesheet" href="/css/user/profile.css">
  <script src="/js/user/profile.js" defer></script>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="profile-container">
    <h2><%= user.name %></h2>
    <img src="<%= user.profilePicture %>" alt="Profile Picture" class="profile-picture">
    <p><strong>E-mail adresa:</strong> <%= user.email %></p>
    <p><strong>Bodovi:</strong> <%= user.totalScore %></p>
    <p><strong>Stvoren:</strong> <%= user.createdAt.toLocaleDateString() %></p>
    <p><strong>Admin razina:</strong> Level <%= user.adminLevel %></p>
    <p>Zadnji put logiran: <%= user.lastLoginAt ? user.lastLoginAt.toLocaleDateString() : 'Nepoznato' %></p>

    <% if (canSendFriendRequest) { %>
      <form id="friendRequestForm" class="edit-form" method="POST" action="/friends">
        <input type="hidden" name="receiverId" value="<%= user._id %>">
        <button type="submit" id="sendFriendRequestBtn">Pošalji zahtjev za prijateljstvo</button>
      </form>
    <% } %>

    <% if (!canSendFriendRequest && user._id.toString() !== currentUser.id) { %>
      <form class="edit-form" method="POST" action="/friends/<%= user._id %>?_method=DELETE">
        <button type="submit" id="deleteFriendBtn"><%= friendshipStatus === "pending" ? "Otkaži zahtjev" : "Obriši prijatelja" %></button>
      </form>
    <% } %>

  </div>
</body>
</html>