<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Moj profil</title>
  <link rel="stylesheet" href="/css/user/profile.css">
  <script src="/js/user/profile.js" defer></script>
</head>

<body>
  <%- include('../partials/header') %>
    <%- include('../partials/messaging') %>
    <%- include('../partials/happyHour') %>
      <div class="profile-container">
        <h2>Moj profil</h2>
        <img src="<%= user.profilePicture %>" alt="Profile Picture" class="profile-picture">
        <p><strong>E-mail adresa:</strong>
          <%= user.email %>
        </p>
        <p><strong>Bodovi:</strong>
          <%= user.totalScore %>
        </p>
        <p><strong>Stvoren:</strong>
          <%= user.createdAt.toLocaleDateString() %>
        </p>
        <p><strong>Admin razina:</strong> Level <%= user.adminLevel %>
        </p>

        <% if (locals.currentUser && !locals.currentUser.isEditor && locals.currentUser.adminLevel < 1) { %>
          <% if (locals.currentUser.editorRequestStatus==='pending' ) { %>
            <p><em>Zahtjev za Editora je na čekanju.</em></p>
            <% } else if (locals.currentUser.editorRequestStatus==='rejected' ) { %>
              <p><em class="text-danger">Zahtjev za Editora je odbijen.</em></p>
              <form action="/user/request-editor" method="POST">
                <button type="submit" class="btn-link">Zatraži
                  ponovno pristup Editoru</button>
              </form>
              <% } else { %>
                <form action="/user/request-editor" method="POST">
                  <button type="submit" class="btn-link">Zatraži
                    pristup Editoru</button>
                </form>
                <% } %>
                  <% } else if (locals.currentUser && locals.currentUser.isEditor) { %>
                    <p><strong class="text-success">Vi ste Content Creator / Editor.</strong></p>
                    <% } %>

                      <a href="/user/edit" class="edit-link">Uredi profil</a>
                      <form method="POST" action="/user/?_method=DELETE" class="edit-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" id="deleteBtn">Izbriši račun</button>
                      </form>
      </div>
</body>

</html>