<h1>All users</h1>
<% users.forEach(user => { %>
  <div class="user-box">
    <h2><a href="/admin/users/<%= user._id %>"><%= user.name %></a></h2>
    <p>isActive: <%= user.isActive %></p>
    <p>Admin level: <%= user.adminLevel %></p>
    <% if (user.isBanned) { %>
        <p>Ban reason: <%= user.banReason %></p>
        <p>Ban duration: <%= user.banDuration %></p>
    <% } else if (user.isMuted) {  %>
        <p>Mute reason: <%= user.muteReason %></p>
        <p>Mute duration: <%= user.muteDuration %></p>
    <% } %>
  </div>
  <br>
<% }); %>