<h1><%= question.text %></h2>
<p><strong>HINT: </strong> <%= question.hint %></p>
<% if (question.image && question.image!="") { %>
  <img src="<%= question.image %>" alt="Question image" width="250">
<% } %>
<p>Category: <%= question.category %></p>
<p>Answer 1: <%= question.answers[0] %></p>
<p>Answer 2: <%= question.answers[1] %></p>
<p>Answer 3: <%= question.answers[2] %></p>
<p>Answer 4: <%= question.answers[3] %></p>
<p>Status: <%= question.status %></p>
<p>Created at: <%= question.createdAt %> by <%= username %></p>

<form method="POST" action="/admin/questions/<%= question.id %>?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" id="deleteBtn">Delete Question</button>
</form>

<% if (question.status != 'approved') { %>
    <form method="POST" action="/admin/questions/<%= question.id %>?_method=PUT">
        <input type="hidden" name="_method" value="PUT">
        <button type="submit" id="approveBtn">Approve</button>
    </form>
<% } %>

<script>
    document.getElementById('deleteBtn').addEventListener('click', function (e) {
      const confirmed = confirm("Are you sure you want to delete this question?");
      if (!confirmed) {
        e.preventDefault();
      }
    });

    document.getElementById('approveBtn').addEventListener('click', function (e) {
        const confirmed = confirm("Are you sure you want to approve this question?");
        if (!confirmed) {
          e.preventDefault();
        }
      });
</script>