<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Detalji pitanja</title>
  <link rel="stylesheet" href="/css/admin/question.css">
  <script src="/js/admin/question.js" defer></script>
</head>
<body>
  <%- include('../../partials/header') %>
  <div class="question-box">
    <h1><%= question.text %></h1>
    <p><strong>HINT: </strong><span style="white-space: pre; font-family: monospace;"><%= question.hint.replace(/\u00a0/g, ' ') %></span></p>
    <% if (question.image && question.image !== "") { %>
      <img src="<%= question.image %>" alt="Question image">
    <% } %>
    <p><strong>Kategorija:</strong> <%= question.category %></p>
    <p><strong>Odgovor 1:</strong> <%= question.answers[0] %></p>
    <p><strong>Odgovor 2:</strong> <%= question.answers[1] %></p>
    <p><strong>Odgovor 3:</strong> <%= question.answers[2] %></p>
    <p><strong>Odgovor 4:</strong> <%= question.answers[3] %></p>
    <p><strong>Status:</strong> <%= question.status %></p>
    <p><strong>Stvoreno:</strong> <%= question.createdAt.toLocaleDateString('hr-HR') %> by <strong><%= username %></strong></p>

    <div class="button-group">
      <form method="POST" action="/admin/questions/<%= question.id %>?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" id="deleteBtn" class="danger-button">Obriši pitanje</button>
      </form>

      <% if (question.status !== 'approved') { %>
        <form method="POST" action="/admin/questions/<%= question.id %>?_method=PUT">
          <input type="hidden" name="_method" value="PUT">
          <button type="submit" id="approveBtn" class="approve-button">Odobri</button>
        </form>
      <% } %>
    </div>
  </div>
</body>
</html>